.header-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* Стиль прямоугольника */
.badge {
    background-color: #7b2cbf;      /* Фиолетовый фон */
    color: white;
    padding: 8px 18px;
    border-radius: 30px;            /* Закруглённые углы = прямоугольник со скруглением */
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solid #e0aaff;
    box-shadow: 0 0 12px #9d4edd;
    letter-spacing: 1px;
    transition: 0.2s;
}


body {
    display: flex;
    justify-content: center;
    padding: 10px;

    background-size: cover;

}



.card {
    max-width: 500px;
    width: 100%;
    background: rgba(0, 0, 0, 0.96);
    border-radius: 60px;
    text-align: center;
    transition: transform 0.2s;
}


.cardd {
    max-width: 500px;
    width: 100%;
    background: rgba(0, 0, 0, 0.96);
    border-radius: 60px;
    text-align: center;
    transition: transform 0.2s;
}

.main-container {
    display: flex;
    flex: 1; /* чтобы растягивался и футер был внизу */
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    padding: 20px 15px;
    gap: 20px;
}

.cardd:hover {
    transform: translateY(-10px);  /* <-- и это */
}

.card:hover {
    transform: translateY(-10px);  /* <-- и это */
}



h1 {
    font-size: 2.5rem;
    color: green;
}

.subtitle {
    background: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 0px;
    color: white;
}


.info {
    text-align: left;
    background: rgb(0, 0, 0);
    border-radius: 0px 0px 60px 60px;
    padding: 20px;
    color: white;

}

h2 {
    font-size: 2.5rem;
    color: purple;
}

.switch-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: black;
    color: white;
    padding: 12px 50px;
    border-radius: 40px;
    text-decoration: none;
}

.switch-btn:hover {
    background: black;
    transform: scale(1.02);
}


